// Contact us 
$contact-us-top-bottom-margin: 2.5rem;

// Contact us text box
$text-box-padding-right-left: 1.5rem;

// Contact us textfield settings
$textfield-max-width: 30rem;
$textfield-min-width: 10rem;
$textfield-height-m:  4.4rem;
$textfield-height-l:  15rem;
$textfield-border-radius: 0.8rem;

// Contact us textarea settings
$contact-us-textarea-height: 13rem;

// Contact us buttom
$contact-us-btn-width: 10rem;


@mixin box-styles ($max-width: $textfield-max-width, 
                   $min-width: $textfield-min-width,
                   $height: $textfield-height-m, 
                   $box-sizing: border-box,
                   $border-radius: $textfield-border-radius) {
    min-width: $min-width;
    max-width: $max-width;
    height: $height;
    box-sizing: $box-sizing;
    border-radius: $border-radius;
}

.contact-us {
    display: grid;
    grid-gap: 1rem;

    margin: $contact-us-top-bottom-margin 0;

    &__textfield {
        @include box-styles();
        background-color: $gray-8;

        padding: 0 $text-box-padding-right-left;
    }

    &__input {
        width: 100%;

        @include font-styles($base-font-family, 1.8rem, 0.05rem, none, $gray-1);
        background-color: $gray-8;
        outline: none;
        border: none;

        margin: 1rem 0;
    
        &::placeholder {
            color: $gray-1;
        }
    }
    
    &__textarea {
        @include box-styles($textfield-max-width, $textfield-min-width, $textfield-height-l);
        background-color: $gray-8;

        padding: 0 $text-box-padding-right-left;

        & textarea {
            resize: none;
            height: $contact-us-textarea-height;
        }
    }

    &__btn {
        width: $contact-us-btn-width;
        height: $textfield-height-m;

        background-color: $red;
        border-radius: $textfield-border-radius;
        border: none;
        cursor: pointer;

        @include font-styles($base-font-family, 2rem, -0.02rem, uppercase, $gray-1);
        font-weight: 700;
    }
}