mixin contact-us()
    h3 Contact Us

    .contact-us
        .contact-us__textfield
            input.contact-us__input(type="text", placeholder="Name")
        .contact-us__textfield
            input.contact-us__input(type="text", placeholder="Email")
        .contact-us__textarea
            textarea.contact-us__input(placeholder="Message")
        button.contact-us__btn Submit
