// About us
$about-us-top-bottom-margin: 2.2rem;

// About us description
$about-us-desctiption-bottom: 1.0rem;
$about-us-desctiption-top: 2.3rem;

// About us img
$about-us-img-width: 93%;

.about-us {
    margin: $about-us-top-bottom-margin 0;

    &__desctiption {
        @include font-styles($base-font-family, 1.8rem, 0.05rem, none, $gray-7);
        line-height: 2.7rem;
        
        margin-bottom: $about-us-desctiption-bottom;
        margin-top: $about-us-desctiption-top;
    }

    &__img img {
        width: $about-us-img-width;
        height: auto;
        
        padding: 0.5rem;
        border: 1px solid $gray-7;
    }
    
}
