// Mixins
@import "./mixins.scss";

// Components
@import "../assets/components/header/header.scss";
@import "../assets/components/footer/footer.scss";
@import "../assets/components/link-block/link-block.scss";
@import "../assets/components/from-blog/from-blog.scss";
@import "../assets/components/about-us/about-us.scss";

// Styles for page
@import "../views/home/palette.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: #fff; 
  min-height: 100vh;
}

p {
  font-size: 2rem;
}

.main-content {
  min-height: 60vh;

  margin-left: 2.6rem;
  margin-right: 2.6rem;
  margin-top: -10rem;

  padding: 2.6rem;

  position: relative;

  border-radius: 1rem;
  background-color: #fff;

  z-index: 2;
}