// Mixins
@import "./fonts.scss";

// Colors
@import "./colors.scss";

// Spaces
@import "./spaces.scss";

// Components
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/footer/link-block/link-block.scss";
@import "../components/footer/from-blog/from-blog.scss";
@import "../components/footer/about-us/about-us.scss";
@import "../components/footer/contact-us/contact-us.scss";

// Styles for page
@import "../views/home/palette.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: #fff; 
  min-height: 100vh;
}

p {
  font-family: liberation-serif, serif;
  font-style: normal;
  font-weight: 400;

  font-size: 2rem;
}

/*p[lang="en"] {
  color: green;
}

p[lang="ru"] {
  color: blue;
  font-size: 10rem;
}*/

.main-content {
  min-height: 60vh;

  margin-left: 2.6rem;
  margin-right: 2.6rem;
  margin-top: -10rem;

  padding: 2.6rem;

  position: relative;

  border-radius: 1rem;
  background-color: #fff;

  z-index: 2;
}

/*table {
  border:  0.1rem solid #ccc;
  border-spacing: 1rem;
  table-layout: fixed;
  width: 60rem;
}

th, td {
  padding: 1rem;
}

tr:nth-child(even) {
  background-color: #e495e4;
}

tr th {
  background-color: $gray-5;
}*/