$header-padding-bottom: 10rem;
$header-min-height: 17rem;
$header-background-color: $gray-4;
$header-border-top: 6px solid $gray-9;

.header {
    min-height: $header-min-height;
    padding-bottom: $header-padding-bottom;
    padding-left: $content-padding-left;
    padding-right: $content-padding-right;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    z-index: 1;

    background-color: $header-background-color;
    border-top: $header-border-top;

    &__label {
        display: inline-block;
        padding-right: 1.25rem;

        @include font-styles($base-font-family, 4rem, -0.26rem, uppercase, $gray-9);

        &::first-letter {
            font-size: 130%;
        }
    }

    &__description {
        display: inline-block;
        border-left: 1px solid $gray-7;
        padding-left: 0.7rem;

        @include font-styles($base-font-family, 2rem, -0.08rem, none, $gray-7);
    }

    & > nav {
        padding-top: 2.8rem;
    }

    & > nav > ul > li > a {
        @include font-styles($base-font-family, 1.8rem, -0.08rem, uppercase, $gray-8);
        text-decoration: none;
    }

}

.header .nav {
    &__links {
        list-style: none;
    }

    &__links > li {
        display: inline-block;
        margin-right: 4.2rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &__links > li > a {
        transition: all 0.3s ease 0s;
        &:hover {
            color: $red;
        }
    }
}