// Footer settings
$footer-padding-top: 10rem;
$footer-background-color: $gray-4;
$footer-cross-boarder-size: -10rem;
$footer-padding-top: 15rem;

// Content columns settings
$footer-content-max-width: 35rem;
$footer-content-padding-bottom: 2.8rem;
$footer-margin-content: 2rem;

// Footer author info settings
$footer-info-padding: 2.8rem;


.footer {
    padding-left: $content-padding-left;
    padding-right: $content-padding-right;
    padding-top: $footer-padding-top;
    margin-top: $footer-cross-boarder-size;

    position: relative;
    z-index: 1;

    background-color: $footer-background-color;

    & h3 {
        @include font-styles($base-font-family, 1.8rem, -0.05rem, uppercase, $gray-8);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        border-bottom: 1px solid $gray-6;

        &__box {
            max-width: $footer-content-max-width;

            display: inline-block;
            flex-grow: 1;

            margin-right: $footer-margin-content;
            padding-bottom: $footer-content-padding-bottom;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        flex-shrink: 0;

        padding: $footer-info-padding 0;
        border-top: 1px solid #fff;

        & p {
            @include font-styles($base-font-family, 2rem, -0.036rem, none, $gray-7);
        }
    }

}