//include ../about-us/about-us

mixin footer({author = "default", info = "default", extra=false})
    footer.footer

        if extra
            .footer__content
                div.footer__content__box
                    include /about-us/about-us
                    +about-us({
                        path: '/assets/img/default_about_us_img.png',
                        desctiption: 'Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit. Nunc <br>non diam erat. In fringilla massa ut <br>nisi ullamcorper pellentesque.<br> Quiaque non lictus sem.',
                        href: '#'
                    })
                div.footer__content__box
                    include /link-block/link-block
                    +link-block([
                        {
                            title: 'Lorem ipsum dolor sit',
                            href: '#'
                        },
                        {
                            title: 'Amet consecteutr',
                            href: '#'
                        },
                        {
                            title: 'Praesent vel sem id',
                            href: '#'
                        },
                        {
                            title: 'Curabitur hendrerit est',
                            href: '#'
                        },
                        {
                            title: 'Aliquam eget erat nec sapien',
                            href: '#'
                        },
                        {
                            title: 'Cras id augue nunc',
                            href: '#'
                        },
                        {
                            title: 'In nec justo non',
                            href: '#'
                        },
                        {
                            title: 'Vivamus millis enim ut',
                            href: '#'
                        },
                        {
                            title: 'Curabitur hendrerit est',
                            href: '#'
                        }
                    ])
                div.footer__content__box
                    include /from-blog/from-blog
                    +from-blog([
                        {
                            title: 'Post Title',
                            data: 'Friday, 6th Aprill 2000',
                            msg: 'Nulla facilici. Ut tringilla. Suspendisse <br>potenti. Nunc feugiat mi a tellus <br>consequat imperdiet.',
                            href: '#'
                        },
                        {
                            title: 'Post Title',
                            data: 'Friday, 6th Aprill 2000',
                            msg: 'Nulla facilici. Ut tringilla. Suspendisse <br>potenti. Nunc feugiat mi a tellus <br>consequat imperdiet.',
                            href: '#'
                        }
                    ])
                div.footer__content__box
                    include /contact-us/contact-us
                    +contact-us()
        
        div.footer__info
            p !{author}
            p !{info}
