doctype html
html(lang="en")
    include /head/head
    body(id="link-top")
        include /header/header
        +header()

        .main-content
            .wrapper.wrapper-slider
                .wrapper-slider__btn
                    img(id="slideLeft", class="slide__arrow_l", src="./assets/img/arrow.png")
                    img(id="slideRight", class="slide__arrow_r", src="./assets/img/arrow.png")
            
                div(id="slider")
                    img(class="slide__img", src="./assets/img/default_slide_img.png")
                    img(class="slide__img", src="./assets/img/default_slide_img.png")
                    img(class="slide__img", src="./assets/img/default_slide_img.png")
                    img(class="slide__img", src="./assets/img/default_slide_img.png")
                    img(class="slide__img", src="./assets/img/default_slide_img.png")
                    img(class="slide__img", src="./assets/img/default_slide_img.png")
                    img(class="slide__img", src="./assets/img/default_slide_img.png")

            .wrapper
                include /plan/plan
                +plan({
                    type: 'small',
                    label: "Lorem Ipsum Dolor",
                    description: "Justoid nonummy laoreet <br>phasellen panatoque in antesque <br>pellus elis eget tincidunt.",
                    contents: [
                        {
                            content_name: 'Vivamuslibero Augue',
                            content_path: './assets/img/default_small_img.png',
                            content_description: 'Inteligua congue id elis <br>donec sce saggittis intes <br>laoreet aenean leo sem <br>massawisi condisse leo sem ae. <br>Tincidunt nibh quis quifauctor.'
                        },
                        {
                            content_name: 'Vivamuslibero Augue',
                            content_path: './assets/img/default_small_img.png',
                            content_description: 'Inteligua congue id elis <br>donec sce saggittis intes <br>laoreet aenean leo sem <br>massawisi condisse leo sem ae. <br>Tincidunt nibh quis quifauctor.'
                        },
                        {
                            content_name: 'Vivamuslibero Augue',
                            content_path: './assets/img/default_small_img.png',
                            content_description: 'Inteligua congue id elis <br>donec sce saggittis intes <br>laoreet aenean leo sem <br>massawisi condisse leo sem ae. <br>Tincidunt nibh quis quifauctor.'
                        }
                    ]
                })

            .wrapper.wrapper-bordered
                include /plan/plan
                +plan({
                    type: 'mid',
                    label: "Lorem Ipsum Dolor",
                    description: "Justoid nonummy laoreet <br>phasellen panatoque in antesque <br>pellus elis eget tincidunt.",
                    contents: [
                        {
                            content_link: '#',
                            content_path: './assets/img/default_mid_img.png',
                            content_description: 'Cursuspe natis accum ut cura <br>bitur nulla tellus tor ames.'
                        },
                        {
                            content_link: '#',
                            content_path: './assets/img/default_mid_img.png',
                            content_description: 'Cursuspe natis accum ut cura <br>bitur nulla tellus tor ames.'
                        },
                        {
                            content_link: '#',
                            content_path: './assets/img/default_mid_img.png',
                            content_description: 'Cursuspe natis accum ut cura <br>bitur nulla tellus tor ames.'
                        }
                    ]
                })

            .wrapper.wrapper-links
                .wrapper-links__social 
                    a(href='#')
                        img(src='./assets/img/circle.svg')
                    a(href='#')
                        img(src='./assets/img/circle.svg')
                    a(href='#')
                        img(src='./assets/img/circle.svg')
                    a(href='#')
                        img(src='./assets/img/circle.svg')
                .wrapper-links__totop
                    a(href='#link-top')
                        img(src='./assets/img/arrow.png')


        include /footer/footer
        +footer()
